body {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e6312;
  margin: 0;
  height: 42px;
}

.play-panel {
  background-color: #55dd2c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh; 
}

.play-panel .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 10px 20px;
    background-color: #0e6312;
    cursor: pointer;
    border-radius: 21px;
    border: solid 3px;
}

.play-panel .new-game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 10px 20px;
    background-color: #be3918;
    cursor: pointer;
    border-radius: 21px;
    border: solid 3px;
}

.box-bg {
  background-color: #fff;
}

// Modals

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background: rgba(0, 0, 0, 0.7);
	&.show {
		display: block;
	}
}

.modal {
  display: none;
  flex-direction: column;
	background: #fff;
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	&.show {
		display: flex;
	}
	
	.close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
		text-decoration: none;
	}
	
	header {
		font-size: 20px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
	}

	.content {
		min-height: 30px;
		padding: 5px 30px;
	}
}